[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/ctrlspace"]
	path = bundle/ctrlspace
	url = https://github.com/szw/vim-ctrlspace.git
[submodule "bundle/sourcerer.vim"]
	path = bundle/sourcerer.vim
	url = https://github.com/xero/sourcerer.vim.git
[submodule "bundle/seoul256.vim"]
	path = bundle/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "bundle/sbt-vim"]
	path = bundle/sbt-vim
	url = https://github.com/ktvoelker/sbt-vim
